
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body
{
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif, Arial, Verdana, 'Trebuchet MS';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}


h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}


h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-transform: capitalize;
}

h2, h3 {
    color: #333333;
    font-family: 'Raleway', serif;
    
}

a {
    outline: none !important;
    text-decoration: none !important;
  }

.section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}
  
@media (min-width:768px)
{
    #navbarNav
    {
        display: flex;
        justify-content: end;
    }
}
.navbar
{
    background-color: rgb(247, 247, 247);
    padding-left: 150px;
    padding-right: 150px;
    
}

#navbarNav
{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 7px 0;
    text-transform: uppercase;
}

.head-banner
{
    background-image: url(./image/1500x780x1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}
.head-banner-text
{
    position: absolute;
    bottom: 0;
    background-color: rgb(254 165 1 / 60%);
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    padding: 4rem;
}

body > div.head-banner > div > p
{
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 28px;
    text-transform: uppercase;
}

.head-banner-btn
{
    color: #ffffff;
    background-color: #c13a0d;
    border-radius: 0%;
    margin-top: 30px;
}

/* Various Causes section */

.various-causes-heading
{
    text-align: center;
    padding-bottom: 50px;
}

.various-causes-col
{
    text-align: center;
    
}

.various-causes-col>.col-4>h3
{
    margin-top: 20px;
    margin-bottom: 10px;
}

.causes-paragraph
{
    font-size: 14px;
    color: #666666;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin-bottom: none;
}

.progress-value
{
    text-align: right;
    color: #c13a0d;
    font-weight: 600;
    letter-spacing: 1px;
}

.progress-bar
{
    height: 3px;
    width: 100%;
    background-color: #cccccc;
}

.progress-status
{
    height: 3px;
    width: 57%;
    background-color: #fea501;
}

.progress-money
{
    color: #666666;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 5px;
}

.progress-status-2
{
    height: 3px;
    width: 72%;
    background-color: #fea501;
}

.progress-status-3
{
    height: 3px;
    width: 41%;
    background-color: #fea501;
}

/* various causes section end */

/* who care section start */
.who-care-section 
{
    background-color: #333333;
}

.who-care-img
{
    height: 535px;
}

.who-care-text-col
{
    padding: 80px 90px 80px 40px;
}

.who-care-sub-heading, .who-care-heading, .who-care-paragraph, .who-care-paragraph-2, .who-care-btn
{
    color: #ffffff;
}

.who-care-sub-heading
{
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

.who-care-heading
{
    padding: 0;
    margin: 5px 0 5px 0;

}

.who-care-divider
{
    padding-bottom: 20px;
}

.who-care-paragraph-2
{
    font-size: 14px;
    padding: 20px 0 30px 0;
    margin-bottom: 0px;
}

.who-care-btn
{
    background-color: #fea501;
    padding: 10px 20px;
    font-family: inherit;
    font-weight: 600;
}
/* Who Care Styling end */

/* Our Help Styling */
.our-helps-heading
{
    text-align: center;
    padding-bottom: 50px;
}

.our-help-row
{
    margin-bottom:30px;
}

/* Our Help Styling END*/