
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body
{
    height: 100vh;
    width: 100vw;
    font-family: 'Open Sans', sans-serif, Arial, Verdana, 'Trebuchet MS';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}


h1 {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}


h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    text-transform: capitalize;
}

h2, h3 {
    color: #333333;
    font-family: 'Raleway', serif;
    
}

a {
    outline: none !important;
    text-decoration: none !important;
  }

.container
{
    width: 1170px;
}  

.section-padding {
    padding-top: 80px;
    padding-bottom: 80px;
}
  
@media (min-width:768px)
{
    #navbarNav
    {
        display: flex;
        justify-content: end;
    }
}
.navbar
{
    background-color: rgb(247, 247, 247);
    padding-left: 150px;
    padding-right: 150px;
    padding: 0px;
    
}
.nav-link
{
    padding-top: 7px;
    padding-bottom: 7px;
}


.nav-container
{
    max-width: 1140px;
    padding: 5px;
}

.nav-list
{
    padding-top: 21px;
}


#navbarNav
{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 7px 0;
    text-transform: uppercase;
}

.head-banner
{
    background-image: url(./image/1500x780x1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; 
}
.head-banner-text
{
    position: absolute;
    bottom: 0;
    background-color: rgb(254 165 1 / 60%);
    color: white;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    padding: 4rem;
}

body > div.head-banner > div > p
{
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 28px;
    text-transform: uppercase;
}

.head-banner-btn
{
    color: #ffffff;
    background-color: #c13a0d;
    border-radius: 0%;
    margin-top: 30px;
}

/* Various Causes section */

.various-causes-heading
{
    text-align: center;
    padding-bottom: 50px;
}

.various-causes-col
{
    text-align: center;
    
}

.var-cause-col
{
    padding: 0px 15px;
}

.various-causes-col>.col-4>h3
{
    margin-top: 20px;
    margin-bottom: 10px;
}

.causes-paragraph
{
    font-size: 14px;
    color: #666666;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    margin-bottom: none;
    font-weight: 400;
    line-height: 24px;
}

.progress-value
{
    text-align: right;
    color: #c13a0d;
    font-weight: 600;
    letter-spacing: 1px;
}

.progress-bar
{
    height: 3px;
    width: 100%;
    background-color: #cccccc;
}

.progress-status
{
    height: 3px;
    width: 57%;
    background-color: #fea501;
}

.progress-money
{
    color: #666666;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 5px;
}

.progress-status-2
{
    height: 3px;
    width: 72%;
    background-color: #fea501;
}

.progress-status-3
{
    height: 3px;
    width: 41%;
    background-color: #fea501;
}

/* various causes section end */

/* who care section start */
.who-care-section 
{
    background-color: #333333;
}

.who-care-img
{
    height: 535px;
    width: 100%;
}

.who-care-img-col
{
    padding: 0px;
}

.who-care-text-col
{
    padding: 80px 90px 80px 40px;
}

.who-care-sub-heading, .who-care-heading, .who-care-paragraph, .who-care-paragraph-2, .who-care-btn
{
    color: #ffffff;
}

.who-care-sub-heading
{
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
}

.who-care-heading
{
    padding: 0;
    margin: 5px 0 5px 0;

}

.who-care-divider
{
    padding-bottom: 20px;
}

.who-care-paragraph-2
{
    font-size: 14px;
    padding: 20px 0 30px 0;
    margin-bottom: 0px;
}

.who-care-btn
{
    background-color: #fea501;
    padding: 10px 20px;
    font-family: inherit;
    font-weight: 600;
}
/* Who Care Styling end */

/* Our Help Styling */
.our-helps-heading
{
    text-align: center;
    padding-bottom: 50px;
}

.our-help-row
{
    margin-bottom:30px;
}

/* Our Help Styling END*/

/* camps we done start*/
.camps-done
{
    background-color: #f7f7f7;
}

.camps-done-container
{
    max-width: 1140px;
}

.camps-head
{
    text-align: center;
    padding-bottom: 50px;
}

.camps-row > h3
{
    margin: 20px 0px 10px 0px;
}

.camps-row > p
{
    padding-bottom: 20px;
    color: #666666;
}

.camps-row > a
{
    padding: 10px 20px;
    background-color:#fea501;
    color: #ffffff;
    font-family: inherit;
    font-weight: 600;
    letter-spacing: 0.5px;
}

/* camps we done end */

/* Donators Section Start */
.donators-section
{
    background-color: #fea501;
}

.donators-container
{
    width: 1170px;
}

.donators-head
{
    padding-bottom: 50px;
    text-align: center;
}

.donators-head>h2
{
    color: #ffffff;
}

.donators-row-1
{
    margin: 0px 285px;
    padding-bottom: 40px;
}

.donators-row-1>.col-4
{
    padding: 0px 15px;
}

.donators-row-1>.col-4>ul
{
    padding:0;
    margin-bottom: 10px;
}

.donators-row-1>.col-4>ul>li
{
    display: table-cell;
    list-style: none;
}

.donators-row-1>.col-4>ul>li>img
{
    padding-right: 10px;
}

.donators-row-1>.col-4>ul>li>p
{
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 600;
    margin-bottom: 0px;
}

.donators-image-row
{
    margin: 0 auto;
    width: 80%;
}

.donators-image-col
{ 
    width: 25%;
    padding: 0px 15px;
}

.donators-profile-col
{
    border: 5px solid #ffffff;
    padding: 20px;
    text-align: center;
}

.donators-profile-col>p
{
    margin-bottom: 0px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 10px;
}

.donators-btn
{
    text-align: center;
    padding-top: 40px;
}

.donators-btn>a
{
    background-color: #ffffff;
    color: #fea501;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
/* Donators Section END */

/* Our Involvements Style is Exactly as Camps we done section so I used the same classes for both the sections  */

/* Orphan Children Section Start */
.orphan-children-section
{
    background-image: url(./image/1500x700.jpg);
    background-position: center;
    background-size: cover;
}

.orphan-container
{
    width: 1170px;
}

.orphan-content
{
    background-color: #fea501;
    padding: 40px 10px 60px 10px;
    text-align: center;
}

.orphan-content>h2
{
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.orphan-content>p
{
    font-weight: 600;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 5px;
    width: 70%;
    color: #ffffff;
}

.orphan-content>a
{
    background-color: #ffffff;
    border-radius: 0px;
    color: #fea501;
    font-weight: 600;
    padding: 10px 20px;
    letter-spacing: 0.5px;
}

.orphan-content>a:hover
{
    background-color: white;
    color: #fea501;
    transition: none;
    transform: none;
}
/* Orphan Children Section END */

/* gallery section */
.gallery-head
{
    text-align: center;
    padding-bottom: 50px;
}

.gallery-first-row
{
    padding-bottom: 30px;
}

.gallery-2nd-row , .gallery-first-row
{
    padding-left: 15px;
    padding-right: 15px;
}

.gallery-img
{
    border: 2px solid #666666;
}
/* gallery section */

/* Latest News Section */
.news-section
{
    background-color: #f7f7f7;
}
.news-head
{
    text-align: center;
    padding-bottom: 50px;
}

.news-content-col
{
    padding-left: 15px;
    padding-right: 15px;
}

.news-col-head
{
    margin-top: 0px;
    margin-bottom: 5px; 
}

.news-date
{
    padding-bottom: 10px;
    margin: 0;
}

.news-date>a
{
    color: #666666;
    text-decoration: none;
}

.news-paragraph
{
    color: #666666;
    margin: 0;
}

.news-row-1
{
    padding: 0 15px;
}

.news-row-2
{
    padding: 40px 15px;
}

.news-img-col
{
    padding: 0;
    margin: 0;
}
/* Latest News Section */

/* Volunteers Section */
.volunteers-head
{
    text-align: center;
    padding-bottom: 50px;
}

.volunteers-row-1
{
    margin-bottom: 40px;
}

.volunteers-col
{
    padding: 0px 15px;
}

.volunteers-col>img
{
    display: block;
    max-width: 100%;
    height: auto;
}

.volunteers-col-content
{
    text-align: center;
}

.volunteers-col-li
{
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}

.volunteers-col-heading
{
    margin: 20px 0px 10px 0px;
}

.volunteers-col-paragraph
{
    padding: 10px 0px 20px 0px;
    color: #666666;
}
/* Volunteers Section */

/* Best Moment In Our Life Section */
.best-moment-section
{
    background-color: #f7f7f7;
}

.best-moment-head
{
    text-align: center;
    padding-bottom: 50px;
}

.best-moment-col
{
    padding: 0px 15px;
}

.best-moment-img
{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
/* Best Moment In Our Life Section */

/* Upcoming Events Section */
.events-head
{
    text-align: center;
    padding-bottom: 50px;
}

.events-col
{
    padding: 0px 15px;
}

.events-img
{
    display: block;
    max-width: 100%;
    height: auto;
}

.events-row-2
{
    margin-top: 40px;
}

.events-col-paragraph-2, .events-col-paragraph-1
{
    color: #666666;
    margin: 0;
    padding-top: 10px;
}

.events-col-heading
{
    margin: 20px 0px 10px 0px;
}

.events-li-icon
{
    margin-right: 10px;
}

.events-col-li
{
    list-style: none;
    display: table-cell;
    padding-right: 10px;
}

.events-time-row>.col-6>ul
{
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

.events-col-li-place
{
    color: #666666;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 0;
    font-weight: 400;
}

.events-col-li-date
{
    color: #666666;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 0;
    font-weight: 600;
}


/* Upcoming Events Section */

/* Testimonial Section */
.testimonial-section
{
    background-color: #fea501;
}

.testimonial-head
{
    text-align: center;
    padding-bottom: 50px;
}

.testimonial-head>h2
{
    color: #ffffff;
}

.testimonial-content
{
    text-align: center;
    margin: 0 auto;
    width: 60%;
}

.testimonial-content>img
{
    padding-bottom: 20px;
}

.testimonial-content>p
{
    color: #ffffff;
    margin: 0 auto;
}

.testimonial-border
{
    width: 40%;
    border-bottom: 1px solid #ffffff;
    padding-top: 20px;
    margin: 0 auto;
}

.testimonial-name
{
    padding-top: 15px;
    letter-spacing: 1px;
}

.testimonial-name > span
{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}
/* Testimonial Section */

/* Moving with Section */
.moving-with-section
{
    background-color: #f7f7f7;
}

.moving-with-head
{
    text-align: center;
    padding-bottom: 50px;
}

.moving-row
{
    background-color: rgba(254, 165, 1, 0.6);
}

.moving-col-color
{
    background-color: rgba(254, 165, 1, 0.2);
}

.moving-col
{
    padding: 40px 20px;
    text-align: center;
}

.moving-col>h3
{
    margin: 20px 0px 10px 0px;
}

.moving-col>p
{
    color: #666666;
    font-weight: 400;
    line-height: 24px;
    margin: 0px;
}
/* Moving with Section */